.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 10;
  padding: 10px;
  background: radial-gradient(
    circle,
    rgba(255, 239, 239, 1) 0%,
    rgba(255, 225, 233, 1) 40%,
    rgba(255, 209, 227, 1) 100%
  );
  font-family: $font-oswald-semibold;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @include font-24;
  &-icon-container {
    display: flex;
    .header-logo {
      cursor: pointer;
      margin: auto;
      margin-left: 16px;
      margin-right: 8px;
    }
    .header-logo-text {
      cursor: pointer;
      margin: auto;
      margin-left: 16px;
      margin-right: 8px;
    }
  }

  &-middle-container {
    @include font-18;
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-items: space-between;
    border-radius: 10px;
    background-color: $color--light;
    color: $color--black;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    .staff-name {
      overflow: hidden;
      line-height: 42px;
      height: fit-content;
      flex-grow: 1;
    }
    .staff-position {
      overflow: hidden;
      height: fit-content;
      line-height: 42px;
      flex-grow: 1;
    }
  }
  &-button-container {
    display: flex;
    justify-items: center;
    padding: 8px;
  }
  &-support-button {
    @include font-18;
    overflow: hidden;
    padding: 12px;
    align-content: flex-end;
    cursor: pointer;
    margin: auto;
    margin-left: 16px;
    margin-right: 8px;
    background-color: $color--support-button;
    color: $color--header-button-text;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  &-logout-button {
    @include font-18;
    padding: 12px;
    align-self: flex-end;
    cursor: pointer;
    margin: auto;
    margin-left: 16px;
    margin-right: 16px;
    background-color: $color--logout-button;
    color: $color--header-button-text;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
}
