.navbar {
    display: flex;
    @include font-18;
    color: $color--text-navbar;
    background-color: $color--navbar;
    text-align: center;
    &-tabs {
        padding: 8px;
        width: 200px;
        cursor: pointer;
        margin: auto;
        margin-left: 0px;
        margin-right: 16px;
    }
    .focus {
        border-bottom: 3px solid;
        border-color: $color--text-navbar-focus ;
        color: $color--text-navbar-focus;
    }
}
