.customer-kho-san-pham-container{
  height: fit-content;
}

.customer-main-container{
    padding-top: 80px;
}
.customer-header{
    position: fixed;
    z-index: 10;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $color--pallette_3;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    @include font-18;
    &-tabs-container {
      margin-left: 2%;
      margin-right: 13%;
    }
    &-buttons-container {
      display: flex;
      text-align: center;
    }
}