.table-container {
  margin: 24px;
  .ant-table {
    @include font-12;
    .ant-table-thead {
      .ant-table-cell {
        font-weight: bold;
        background-color: #cccccc;
      }
    }
    .ant-table-cell {
      position: unset;
      padding: 12px;
    }
  }
}
.search-add-bar {
  display: flex;
  justify-items: center;

  height: 50px;
  .search-div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    .search-input {
      border-radius: 4px;
      width: 200px;
      @include font-12;
      padding: 10px 16px;
      font-family: $font-regular, sans-serif;
    }
  }
  .add-div {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-button {
      outline: none;
      border: none;
      overflow: hidden;
      background-color: $color--add-button;
      color: $color--light;
      padding: 4px 12px 4px 4px;
      border-radius: 4px;
      font-size: 12px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $font-regular, sans-serif;
    }
  }
  .search-button {
    padding: 0 8px 0 0;
    height: 16px;
    position: unset;
    .search-icon {
      cursor: pointer;
    }
  }
}
.add-order-button {
  border: none;
}
.filter-tag {
  padding: 6px;
  margin: 6px;
  margin-bottom: 15px;
  height: fit-content;
  border-radius: 16px;
  @include font-12;
}
.filtered {
  background-color: $color--filterd;
  border-color: $color--grey;
}
.views-switch {
  display: flex;
  flex-grow: 1;
  align-self: flex-end;
  margin-bottom: 15px;
  justify-content: flex-end;
}
.view-button {
  background-color: $color--light;
  width: 16px;
  padding: 6px;
  margin-left: 6px;
  border-radius: 10px;
  @include shadow;
}
.view-button:hover {
  background-color: $color--lightgrey;
  cursor: pointer;
}
.view-button_active {
  background-color: $color--active;
  width: 16px;
  padding: 6px;
  margin-left: 6px;
  border-radius: 10px;
  @include shadow;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  .cards-grow {
    width: 33%;
  }
  .cards {
    width: 200px;
    margin: 15px;
    padding: 10px;
    background-color: $color--light;
    @include font-14;
    @include shadow;
    &-logo {
      margin-left: 30px;
    }
    &-row {
      display: flex;
    }
    &-value {
      flex-grow: 1;
      text-align: right;
    }
  }
  .blank{
    height: 32px;
  }
}
