.table-container {
  margin: 24px;
  .ant-table {
    position: unset;
    @include font-12;
    .ant-table-thead {
      .ant-table-cell {
        font-weight: bold;
        background-color: #cccccc;
      }
    }
    .ant-table-cell {
      position: unset;
      padding: 12px;
    }
  }
}
.search-add-bar {
  display: flex;
  justify-items: center;
  margin-bottom: 15px;
  height: 50px;
  .search-div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    .search-input {
      border-radius: 4px;
      width: 200px;
      @include font-12;
      padding: 10px 16px;
      font-family: $font-regular, sans-serif;
    }
  }
  .add-div {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-button {
      outline: none;
      border: none;
      overflow: hidden;
      background-color: $color--add-button;
      color: $color--light;
      padding: 4px 12px 4px 4px;
      border-radius: 4px;
      font-size: 12px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $font-regular, sans-serif;
    }
  }
  .search-button {
    padding: 0 8px 0 0;
    height: 16px;
    position: unset;vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
    .search-icon {
      cursor: pointer;
    }
  }
}
