.main-layout {
  &__header {
    display: flex;
    background-color: bisque;
    justify-content: space-around;
    &-inner {
      padding: 12px;
      cursor: pointer;
    }
  }
}
.ant-input-affix-wrapper {
  @include font12;
  .ant-input {
    @include font12;
  }
}

.chon-kho-layout {
  display: flex;
  flex-direction: row;
  height: 800px;
  padding: 20px;
  .kho-pickem {
    margin: 50px;
    padding: 20px;
    display: grid;
    border-radius: 1rem;
    cursor: pointer;
    background-color: $color--header-button;
    height: fit-content;
    .kho-pickem-row{
      height: 40px;
      line-height: 40px;
      padding: 10px
    }
  }
}
