.main-layout {
  white-space: nowrap;
  // &__header {
  //   display: flex;
  //   background-color: bisque;
  //   justify-content: space-around;
  //   &-inner {
  //     padding: 12px;
  //     cursor: pointer;
  //   }
  // }
}

.main-container {
  padding-top: 140px;
  display: flex;
  flex-direction: row;
  flex-grow: 10;
  height: 100%;
  .detail-left-container {
    position: fixed;
    background-color: $color--left_menu;
    z-index: 9;
    display: flex;
    width: 330px;
    flex-direction: column;
    font-weight: 500;
    transition: width 0.4s;
    height: 100%;
    border-right: 1px solid;
    border-color: $color--black_50;
    .ant-menu {
      border-radius: 12px;
      background-color: $color--left_menu;
      .ant-menu-submenu-selected {
        background-color: $color--left_menu;
      }
      .ant-menu-item-selected {
        font-style: italic;
        background-color: $color--left_menu;
      }
    }
  }
  .detail-right-container {
    margin-left: 330px;
    flex: 10;
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    transition: margin-left 0.4s;
  }
}

.ant-input-affix-wrapper {
  @include font-12;
  .ant-input {
    @include font-12;
  }
}

.chon-kho-layout {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.kho-pickem-container {
  display: flex;
}

.chon-kho-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .delete-button-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: space-around;
    .delete-button {
      align-self: center;
      height: 36px;
      background-color: $color--delete-button;
      color: #fff;
      line-height: 36px;
      @include font-16;
      border-radius: 10px;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
  }
  .kho-pickem {
    width: 160px;
    margin: 16px;
    padding: 16px;
    display: flex;
    border-radius: 1rem;
    cursor: pointer;
    background-color: $color--white-bg;
    overflow: hidden;
    height: fit-content;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    flex-grow: 1;
    .kho-pickem-row {
      height: 32px;
      line-height: 32px;
      padding-left: 8px;
    }
    .kho-id {
      padding-right: 8px;
      border-right: $color--navbar solid 2px;
    }
  }
  .kho-pickem:hover {
    background-color: #fff;
  }
}
.add-kho-container {
  display: flex;
  justify-items: center;
  margin-bottom: 15px;
  height: 50px;
  .add-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-button {
      outline: none;
      border: none;
      overflow: hidden;
      background-color: $color--add-button;
      color: $color--light;
      padding: 4px 12px 4px 4px;
      border-radius: 4px;
      font-size: 12px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $font-regular, sans-serif;
    }
  }
}

.red {
  color: red;
}
