.nn-big-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .nn-container {
    display: flex;
  }
  .delete-button-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    padding-right: 36px;
    .delete-nn-button {
      align-self: flex-end;
      height: 36px;
      background-color: $color--light;
      color: $color--black;
      border: 1px solid;
      line-height: 36px;
      border-radius: 18px;
      @include font-16;
    }
    .delete-nn-button:hover {
      background-color: $color--black;
      color: $color--light;
      border-color: $color--black;
      border-radius: 18px;
    }
  }
  .nn-row {
    padding: 12px;
    margin: 6px 0;
    width: 75%;
    display: grid;
    flex-direction: column;
    cursor: pointer;
    background-color: $color--light;
    height: fit-content;

    border: 1px solid $color--black;
    border-radius: 5px;

    .nn-p-num {
      height: 24px;
      line-height: 24px;
      padding-left: 8px;
      justify-self: flex-end;
    }
    .nn-name {
      padding-right: 8px;
      line-height: 24px;
    }
  }
  .nn-row:hover {
    background-color: $color--black;
    color: $color--light;
  }
}

.add-kho-container {
  display: flex;
  justify-items: center;
  margin-bottom: 15px;
  height: 50px;
  .add-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-button {
      outline: none;
      border: none;
      overflow: hidden;
      background-color: $color--add-button;
      color: $color--light;
      padding: 4px 12px 4px 4px;
      border-radius: 4px;
      font-size: 12px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $font-regular, sans-serif;
    }
  }
}
