$color--light: #ffffff;
$color--light_50: rgba(
  $color: $color--light,
  $alpha: 0.5,
);

$color--black: #111111;
$color--black_50: rgba(
  $color: $color--black,
  $alpha: 0.5,
);

$color--grey: #686868;

$color--red: red;

$color--navbar: #333;

$color--text-navbar: #ffffff;

$color--text-navbar-focus: #ff3855;

$color--button-blue: #2952e2;

$color--text_active: #6bafeb;

$color--button: #2778c4;

$color--add-button: #1748a2;

$color--white-bg: #f2f2f2;

$color--active: #f17959;

$color--collapse: #c6c6c6;

$color--border: rgba(216, 216, 216, 1);

$color--header: #EFBC9B;

$color--arrow_available: #111111;

$color--arrow_unavailable: #a6a6a6;

$color--header-button: #FBF3D5;

$color--header-button-text: #9CAFAA;

$color--delete-button: #ff0000