$color--pallette_1: #5bbcff;
$color--pallette_2: #fffab7;
$color--pallette_3: #ffd1e3;
$color--pallette_4: #7ea1ff;

$color--light: #ffffff;
$color--light_50: rgba(
  $color: $color--light,
  $alpha: 0.5,
);

$color--black: #111111;
$color--black_50: rgba(
  $color: $color--black,
  $alpha: 0.5,
);

$color--lightgrey: #BBB;
$color--grey: #686868;

$color--red: red;

$color--navbar: #444;

$color--text-navbar: #ffffff;

$color--text-navbar-focus: #ff3855;

$color--button-blue: #2952e2;

$color--text_active: #6bafeb;

$color--button: #2778c4;

$color--add-button: #1748a2;

$color--white-bg: #f2f2f2;

$color--active: #f17959;

$color--collapse: #c6c6c6;

$color--border: rgba(216, 216, 216, 1);

$color--header: #ffefef;

$color--arrow_available: #111111;

$color--arrow_unavailable: #a6a6a6;

$color--support-button: $color--pallette_4;

$color--logout-button: $color--pallette_4;

$color--header-button-text: $color--light;

$color--delete-button: #ff0000;

$color--complete-button: $color--pallette_4;

$color--left_menu: $color--light;

$color--filterd: #f4a460;
